@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@theme{
    --color-Nav:#1C1E53;
    --color-White:#FFFFFF;
    --color-navbtn:#BBBBCB;
    --color-ban:#1C1E53;
    --color-banbtn:#FCD980;
    --color-Royel:#2405F2;
    --color-Dark:#282938;
    --color-price:#F4F6FC;
    --font-pops: "Poppins", sans-serif;
}